# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/
**/.env
.env

# Dataset atau gambar temporari
*.jpg
*.jpeg
*.png
assets/images/temp_*.jpg
debug_image.jpg

# File editor / sistem
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs dan hasil run
*.log

# Jupyter
.ipynb_checkpoints/

# Test results atau file sementara
*.bak
*.tmp
