# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/
**/.env
.env

# File editor / sistem
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs dan hasil run
*.log

# Jupyter
.ipynb_checkpoints/

# Test results atau file sementara
*.bak
*.tmp
